build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
build-stamp
config.guess
config.h
config.hin
config.status
config.sub
configure
debian/*.substvars
debian/*.install
debian/*.postinst
debian/files
debian/*.debhelper
debian/dlog-0-dbg/
debian/dlog-dev/
debian/dlogutil-bin/
debian/libdlog-0/
debian/tmp/
depcomp
dlog.pc
dlogutil
install-sh
*.la
*.lo
m4/
missing
stamp-h1
libtool
ltmain.sh
