[Unit]
Description=Dumps dlog logs onto disk

[Service]
Nice=19
User=log
Group=log
SmackProcessLabel=dlogutil
ExecStart=/usr/bin/dlog_logger -b 99 -t 600
Restart=always

[Install]
WantedBy=multi-user.target
