[Unit]
Description=Start the dlog service(s)

[Service]
User=root
Group=root
WorkingDirectory=/var/log
Capabilities=
CapabilityBoundingSet=
EnvironmentFile=/etc/dlog/dlog.%i.conf
ExecStart=/usr/bin/dlogutil $DLOG_BUFFER $DLOG_FORMAT $DLOG_ROTATE $DLOG_COUNT $DLOG_FILE $DLOG_FILTER

[Install]
WantedBy=multi-user.target

