[Unit]
Description=Start the dlog service

[Service]
ExecStart=/usr/bin/dlogutil -r 1024 -n 3 -f /var/log/dlog -v time *:W

[Install]
WantedBy=multi-user.target

