
[Unit]
Description=Start the dlog service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/dlogutil -b radio -v time *:W

[Install]
WantedBy=multi-user.target

