[Unit]
Description=Dumps dlog logs onto disk

[Service]
Nice=19
User=log
Group=log
# the line below prevents logger from repeatedly statting /etc/localtime each time it wanted a timestamp, increasing performance.
Environment=TZ=:/etc/localtime
ExecStart=/usr/bin/dlog_logger -b 99 -t 600
Restart=always

[Install]
WantedBy=multi-user.target
