[Unit]
Description=Set tizen debug level globally
DefaultDependencies=no
After=opt.mount
Before=basic.target
ConditionPathExists=/opt/etc/dlog/.platformloggingmode

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/systemctl set-environment TIZEN_PLATFORMLOGGING_MODE=1 TIZEN_DLOG_LEVEL=$(cat /opt/etc/dlog/.dloglevel)'

[Install]
WantedBy=basic.target

