[Unit]
Description=Set tizen debug level globally
DefaultDependencies=no
After=opt.mount
Before=basic.target
ConditionFileExists=/opt/etc/dlog/.platformloggingmode

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/systemctl set-environment TIZEN_PLATFORMLOGGING_MODE=$(find /opt/etc/dlog/.platformloggingmode -type f 2>&1 | wc -l) TIZEN_DLOG_LEVEL=$(cat /opt/etc/dlog/.dloglevel)'

[Install]
WantedBy=basic.target

